*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* body{
    background-color: #161515;
} */
.container{
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
.container_two{
    max-width: 1088px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
:root{
    --orange:#FF8000;

}
.section_padding{
    padding-top: 100px;
    padding-bottom: 100px;
}
.btn {
    padding: 10px 15px;
    border-radius: 20px;
    border: var(--orange);
}

a {
    text-decoration: none;
    display: inline-block;
    color: white;
}
  img {
    width: 100%;
    height: auto;
    object-fit: cover;
}  

.navbar nav{
display: flex;
justify-content: space-between;
align-items: center;
/* padding: 10px 0; */

}
.navbar{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
    /* max-width: 1140px;
    width: 100%;
    margin: 0 auto;*/
    padding: 10px ; 
}
.logo p span{
font-size: 30px;
font-family: "Play", sans-serif;
font-weight: 600;
display: inline-block;
background-color: #FF8000;
color: white;
}
.brandAndToggler{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.logo p{
    font-size: 30px;
    font-family: "Play", sans-serif;
font-weight: 600;
display: inline-block;
color: white;
}
.toggler{
    color: white;
    display: none;
    cursor: pointer;
    background: none;
    border: none;
    font-size: 24px;
    padding: 5px;
}
.nav_links,
.nav_links ul{
list-style: none;
display: flex;
justify-content: space-between;
padding: 0 15px;
}
.nav_links li a{
    padding: 5px 20px;
    font-size: 20px;
    color: white;
}
.comn_btn{
    background-color: var(--orange);
    color: white;
    padding: 10px 15px;
}
.banner{
    background-image:url(../img/Mask\ group\ \(26\).png) ;
    height: auto;
    min-height: 850px;
    background-size: cover;
    position: relative;
    }
.banner_content{
    max-width: 1064px;
    width: 100%;
    font-size: 64px;
    color: white;
padding-top: 200px;
font-weight: 600px;
padding-bottom: 180px;
line-height: 1;
font-family: "Play", sans-serif;
text-align: left;
}
/* .banner_content span{
    margin: 0 20%;
} */

.end_content h3{
    max-width: 380px;
    font-size: 30px;
    color: white;
    font-family: "Play", sans-serif;
    padding-bottom: 10px;
}
.end_content p{
    max-width: 380px;
    font-size: 17px;
    font-family: "Play", sans-serif;
    color: white;
    font-weight: 100;
}
.end_content{
    padding: 0 10px;
    position: relative;
}
.end_content h3::before{
    content: "";
    width: 2px;
    height: 134px;
    background-color: var(--orange);
    position: absolute;
    left: 0;
}
 .service{
    background-color:#161515 ;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.service_heading h2{
text-align: center;
color: var(--orange);
font-weight: 200;
font-family: "Play", sans-serif;
font-size: 20px;
margin-bottom: 10px;
}
.service_heading h3{
    text-align: center;
    margin: 0 auto;
    color: white;
    font-size: 52px;
    font-weight: 700;
    line-height: 1.1;
font-family: "Play", sans-serif;
max-width: 880px;
margin-bottom: 10px;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin-top: 50px;
}
.servicecards .row .col{
    width: 20%;
} 
.col{
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
.servicecards .scards{
    position: relative;
    min-height: 243px;
    display: flex;
    flex-direction: column;
}
 .scards figure {
    width: 70px;
    height: 70px;
    text-align: center;
    
}
 
 
/* Service Heading 

.scards
  @media screen and (max-width: 991px) {

    .nav_links li {
      margin: 10px 0;
    }
    
    .nav_links li a {
      display: block;
      padding: 10px 0;
    }
    
    .banner_content {
      font-size: 48px;
      padding-top: 150px;
      padding-bottom: 120px;
    }
    
    .banner {
      min-height: 700px;
    }
    
  }
 
  @media screen and (max-width: 767px) {
    .banner{
        background-size: cover;
    }
    
    
    .nav_links {
      position: absolute;
      flex-direction: column;
      background-color: rgba(0, 0, 0, 0.9);
      top: 100%;
      right: 0;
      width: 100%;
      height: auto;
      display: none;
      padding: 15px 0;
    }
    
    .nav_links.active {
      display: flex;
    }
    
    .nav_links ul {
      flex-direction: column;
      width: 100%;
      text-align: center;
    }
    
    .nav_links li {
      margin: 10px 0;
    }
    
    .nav_links li a {
      padding: 8px 10px;
      display: block;
      font-size: 18px;
    }
    
    .banner {
      min-height: 650px;
    }
    
    .banner_content {
      max-width: 100%;
      font-size: 44px;
      padding-top: 150px;
      padding-bottom: 120px;
      text-align: center;
    }
    
    .banner_content span {
      margin: 0 10%;
    }
    
    .end_content {
      text-align: center;
      padding: 0 20px;
      margin: 30px;
    }
    
    .end_content h3 {
      max-width: 100%;
      font-size: 24px;
    }
    
    .end_content p {
      max-width: 100%;
      margin: 0 auto;
    }

  }
  
  
  @media screen and (max-width: 575px) {
    .navbar {
      padding: 5px;
    }
    .toggler {
        display: block;
        cursor: pointer;
        font-size: 24px;
      }
    .logo p, .logo p span {
      font-size: 22px;
    }
    
    .banner {
      min-height: 580px;
      background-position: center;
    }
    
    .banner_content {
      font-size: 36px;
      padding-top: 120px;
      padding-bottom: 100px;
    }
    
    .banner_content span {
      margin: 0 5%;
    }
    
    .comn_btn {
      padding: 8px 12px;
      font-size: 14px;
    }
    .end_content{
        margin-left: 30px;
      }
    .end_content h3 {
      font-size: 22px;
    }
    
    .end_content p {
      font-size: 15px;
    }
    .end_content h3::before {
        height: 100px;
      }
  }
  @media screen and (max-width: 489px) {
    .navbar {
      padding: 10px 15px;
    }
    
    .logo p, .logo p span {
      font-size: 22px;
    }
    
    .banner {
      min-height: 550px;
      background-position: center;
    }
    
    .banner_content,.banner_content h3 {
      font-size: 28px;
      padding-top: 120px;
      padding-bottom: 80px;
      text-align: center;
    }
    
    .end_content {
      padding: 0 15px; 
     text-align: center;
    }
    
    .end_content h3 {
      font-size: 24px;
      max-width: 100%;
    }
    
    .end_content p {
      font-size: 16px;
      max-width: 100%;
    }
    
     .end_content h3::before {
      height: 100px;
    }
    
    .comn_btn {
      padding: 8px 12px;
      font-size: 14px;
    }
  }
 